/**
 * @name Dangerous Action Warning
 * @author Wolfÿ
 * @version 1.0.1-Alpha
 * @description Adds dangerous colors to dangerous user actions
 * @invite avia
 * @source https://github.com/MEWPASCO/rainbowglow-avatars
 * @website https://www.avariaxyz.win/
 */

/* === Add dangerous colours to dangerous user actions === */
/* === Static Red Text === */
:is(
  #user-context-close-dm,
  #user-context-remove-friend,
  #user-context-ignore,
  #user-context-mute-channel,
  [id^="user-context-mute-channel--"]
) .label_c1e9c4,
#user-context-ignore .label__202d8 {
  color: var(--text-danger);
}

/* === Hovered/Focused Red Text + Background === */
:is(
  #user-context-close-dm,
  #user-context-remove-friend,
  #user-context-ignore,
  #user-context-mute-channel,
  [id^="user-context-mute-channel--"]
).focused_c1e9c4 {
  background-color: var(--background-feedback-critical);
}

:is(
  #user-context-close-dm,
  #user-context-remove-friend,
  #user-context-ignore,
  #user-context-mute-channel,
  [id^="user-context-mute-channel--"]
).focused_c1e9c4 .label_c1e9c4,
#user-context-ignore.focused_c1e9c4 .label__202d8 {
  color: var(--text-feedback-critical);
}
